[submodule "jet_render/extern/glfw"]
	path = jet_render/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "jet_ecs/extern/entt"]
	path = jet_ecs/extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "jet_core/extern/json"]
	path = jet_core/extern/json
	url = https://github.com/nlohmann/json.git
